/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4A4A4A;
    color: #BABB9F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header, footer {
    background-color: #BABB9F;
    height: 110px;
    width: 100vw;
}

footer {
    position: fixed;
    bottom: 0;
}

.header-link {
    width: 160px;
    height: 80px;
    margin-top: 15px;
}

#footer-form-link {
    width: 100px;
    height: 100px;
}

/* index.html specific styling */
#greeting {
    position: relative;
    width: 50vw;
    height: calc(100vh-220px);
    margin: 20vh auto 0 auto;
    font-size: 300%;
}

/* rps.html specific styling */
#rps-heading {
    font-size: 300%;
}

.choice-display {
    width: 110px;
    height: 110px;
    margin: 0 auto 0 auto;
    border: 3px solid #BABB9F;
    border-radius: 10%;
    background-color: #272626;
    background-size: cover;
}

#rps-outcome-display {
    width: 150px;
    margin: 10px auto 10px auto;

    font-size: 200%;
    font-weight: bold;

    border: 3px solid #BABB9F;
    border-radius: 5%;
}

.rps-selection {
    width: 75px;
    height: 75px;

    margin: 10px 5px;

    background-color: #4A4A4A;
    color: #BABB9F;
    border: 3px solid #BABB9F;
    border-radius: 5%;
    font-weight: bold;
}

.rps-selection:active {
    border: 3px solid yellow;
}


#rps-win-start-lose {
    width: 320px;
    margin: auto;
}

#rps-losses {
    color: red;
    float: left;
    font-size: 160%;
}

#rps-start {
    width: 100px;
    height: 30px;
    margin-right: 12px;

    font-size: 130%;
    font-weight: bold;

    background-color: #BABB9F;
    color: #4A4A4A;
    border: 3px solid #BABB9F;
    border-radius: 5%;
}

#rps-start:active {
    background-color: yellow;
    border-color: #4A4A4A;
}

#rps-wins {
    color: #15C400;
    float: right;
    font-size: 160%;
}

/* Quizzit specific styling */

#quizzit-heading {
    font-size: 300%;
}

#riddle-me {
    width: 120px;
    height: 30px;
    margin: 5px;

    font-size: 130%;
    font-weight: bold;

    background-color: #BABB9F;
    color: #4A4A4A;
    border: 3px solid #BABB9F;
    border-radius: 5%;
}

#riddle-me:active {
    background-color: white;
    border-color: yellow;
}

#riddle-display {
    font-size: 200%;
    max-width: 50%;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.answer-button {
    width: 100px;
    height: 30px;
    background-color: #272626;
    color: #BABB9F;
    border: 3px solid #BABB9F;
    border-radius: 5%;
    margin: 5px;
    font-weight: bold;
}

.answer-button:focus {
    border-color: yellow;
}

#score-section {
    width: 340px;
    margin: auto;
}

#quizzit-correct {
    color: #15C400;
    float: right;
    font-size: 160%;
    margin-top: 10px;
}

#answer-submit-button {
    width: 100px;
    height: 30px;
    font-size: 130%;
    font-weight: bold;
    background-color: #BABB9F;
    color: #4A4A4A;
    border: 3px solid #BABB9F;
    border-radius: 5%;
    margin: 10px;
}

#answer-submit-button:active {
    background-color: white;
    border-color: yellow;
}

#quizzit-wrong {
    color: red;
    float: left;
    font-size: 160%;
    margin-top: 10px;
}

/* Guillotine specific styling: */

#guillotine-heading {
    font-size: 300%;
}

#guillotine-display {
    width: 250px;
    height: 250px;
    margin: 5px auto 5px auto;
    border: 3px solid #BABB9F;
    border-radius: 5%;
    background-color: #272626;
    background-size: cover;
}

#answer-display{
    margin-top: 5px;
}

#keyboard {
    width: 40vw;
    min-width: 280px;
    margin: 20px auto 0 auto;
}

.keys {
    width: 30px;
    height: 30px;
    border: 3px solid #BABB9F;
    border-radius: 5%;
    background-color: #4A4A4A;
    color: #BABB9F;

    margin: 2.5px;
}

.keys:active {
    background-color: #747474;
}

.answer {
    font-size: 200%;
    font-weight: bold;
    display: inline;
    margin: 5px;
    text-transform: capitalize;
}

