/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4A4A4A;
    color: #BABB9F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header, footer {
    background-color: #BABB9F;
    height: 110px;
    width: 100vw;
}

footer {
    position: fixed;
    bottom: 0;
}

/* index.html specific styling */
#greeting {
    position: relative;
    width: 50vw;
    height: calc(100vh-220px);
    margin: 120px auto 0 auto;
    font-size: 300%;
}